@font-face {font-family: NunitoSans;src: url('Nunito_Sans/NunitoSans-Regular.ttf');}

/* Alexandria colors
  Version 1:
    - E5A951
    - 305282
  Version 2:
    - CBBFA8
    - 1E365E
  Version 3:
    - 1E365E
    - BFAF95
 */

h4 small{line-height: 1.3;}
p a{font-weight: bold;}
.list-group-item a {color: #7ea794;}
.list-group-item-success a {color: green;}
.list-group-item-warning a {color: #afaf03;}
.list-group-item-info a{color: #087092;}
.list-group-item-danger a{color: #980505;}
.logo{height: 47px;margin-top: -14px;}
h1,h2,h3,h4,h5{color:#1E365E;font-weight: bold}
a{color:#e48800;text-decoration: underline;}
.content body,.content p,.content span,.content b,.content i,.content a{font-family: NunitoSans !important;font-size:18px;line-height: 2.3;}
.h2 a, h2 a{font-size: 30px !important;}
a:hover .img-thumbnail, .thumbnail {-webkit-box-shadow: 0 1px 19px #315282;box-shadow: 0 1px 19px #315282;}
a.btn.btn-xs {background: lightgray;color: black;text-decoration: none;transition: all 0.6s;}
a.btn.btn-xs:hover {background: #1E365E;color: white;text-decoration: none;box-shadow: 0 1px 10px black;}
a.list-group-item{text-decoration: none !important}
p.list-group-item-text {line-height: 1.4;}
